@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");
/*This is the Light Mode Presets*/
:root {
  --yellow: #e26b0a;
  --black: #111;
  --white: #fff;
  --light-color: #666;
  --light-bg: #eee;
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  --border: 0.1rem solid rgba(0, 0, 0, 0.3);
  --background-color-btn: #111;
  --btn-text-color: #fff;
  --header-background-color: #fff;
  --header-dev-color: #111;
  --header-navbar-color: #111;
  --header-icons-background-color: #eee;
  --sliders-arrows-color: var(--black);
  --sliders-arrows-box-color: var(--white);
  --environ-bg-color: #151515;

}

/* Dark theme */
[data-theme="dark"] {
  --yellow: #e26b0a;
  --black: #111;
  --white: #fff;
  --light-color: #666;
  --light-bg: #eee;
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  --border: 0.1rem solid rgba(0, 0, 0, 0.3);
  --background-color-btn: #111;
  --btn-text-color: #fff;
  --header-background-color: #151515;
  --header-dev-color: #fff;
  --header-navbar-color: #fff;
  --header-icons-background-color: #eee;
  --header-close-contact-color: #fff;
  --header-info-heading-color: var(--white);
  --sliders-arrows-color: var(--white);
  --sliders-arrows-box-color: var(--black);
  --about-header-color: var(--yellow);
  --environ-bg-color: var(--header-background-color);
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
  background-color: var(--header-background-color);
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: var(--yellow);
}

section {
  padding: 5rem 10%;
}

.popup {
  display: none; /* Hidden by default */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  align-items: center;
  justify-content: center;
  z-index: 10000; /* Make sure it's on top of other content */
}

/* Popup content styling */
.popup-content {
  position: relative; /* Ensure positioning for close button */
  background: var(--yellow);
  padding: 20px;
  border-radius: 5px;
  max-width: 90%;
  max-height: 90%;
  margin: 0 auto;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional shadow for better visibility */
  overflow: auto; /* Handle overflow in case of long content */
}

/* Styling for the close button */
.close-btn {
  position: absolute; /* Position it relative to .popup-content */
  top: -6px;
  right: 5px;
  font-size: 24px;
  cursor: pointer;
  color: #333; /* Color of the close button */
}

.popup p {
  font-size: 14px;
}

/* Media queries for mobile devices */
@media (max-width: 768px) {
  .popup-content {
      padding: 15px;
  }

  .popup p {
      font-size: 12px;
  }
}

@media (max-width: 480px) {
  .popup-content {
      padding: 10px;
  }

  .popup p {
      font-size: 10px;
  }
}
.heading {
  margin-bottom: 3rem;
  font-size: 3rem;
  color: var(--black);
  text-transform: capitalize;
  padding-left: 1rem;
  border-left: 1rem solid var(--yellow);
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem 3rem;
  background: var(--background-color-btn);
  color: var(--btn-text-color);
  cursor: pointer;
  font-size: 1.7rem;
  text-transform: capitalize;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.btn:hover {
  background: var(--yellow);
  color: var(--black);
}

@-webkit-keyframes fadeIn {
  0% {
    top: 50%;
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    top: 50%;
    opacity: 0;
  }
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  padding: 1.5rem 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 1000;
  background: var(--header-background-color);
}

/* Ensure the logo is aligned with the text */
.header .logo {
  display: flex;
  align-items: center; /* Align items vertically centered */
  text-decoration: none; /* Remove underline from the link */
  font-size: 3rem; /* Adjust text size here */

}

.header .logo-img {
  height: 10rem; /* Adjust the size of the logo */
  margin-right: 1rem; /* Space between the logo and text */
  margin-right: 1rem !important;
}

.header .logo span {
  color: var(--yellow); /* Color for the span part of the logo text */
}

.header .navbar a {
  font-size: 2.4rem;
  color: var(--header-navbar-color);
  text-transform: capitalize;
  margin: 0 1rem;
}

.header .navbar a:hover {
  color: var(--yellow);
}

.header .icons div {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  background: var(--header-icons-background-color);
  color: var(--black);
  cursor: pointer;
  text-align: center;
  margin-left: 0.3rem;
}
.toggle-button {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  background: var(--header-icons-background-color);
  color: var(--black);
  cursor: pointer;
  text-align: center;
  margin-left: 0.3rem;
    
}
.toggle-button:focus {
    outline: none;
}

.header .icons div:hover {
  background: var(--black);
  color: var(--white);
}

.header #menu-btn {
  display: none;
}

.contact-info {
  position: fixed;
  top: 0;
  right: 0;
  width: 35rem;
  background: var(--header-background-color);
  height: 100%;
  text-align: center;
  z-index: 1100;
  padding: 0 2rem;
  padding-top: 5rem;
  display: none;
}

.contact-info.active {
  -webkit-box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.7);
          box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.7);
  display: block;
}

.contact-info #close-contact-info {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  cursor: pointer;
  font-size: 4rem;
  color: var(--header-close-contact-color);
}

.contact-info #close-contact-info:hover {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.contact-info .info {
  padding: 2rem 0;
}

.contact-info .info i {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  background: var(--yellow);
  color: var(--black);
  cursor: pointer;
  text-align: center;
  margin-bottom: 0.5rem;
}

.contact-info .info i:hover {
  background: var(--black);
  color: var(--white);
}

.contact-info .info h3 {
  font-size: 2rem;
  color: var(--header-info-heading-color);
  text-transform: capitalize;
  padding: 1rem 0;
}

.contact-info .info p {
  font-size: 1.5rem;
  color: var(--light-color);
  line-height: 2;
}

.contact-info .share {
  padding-top: 2rem;
  border-top: var(--border);
  margin-top: 1rem;
}

.contact-info .share a {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  background: var(--yellow);
  color: var(--black);
  cursor: pointer;
  text-align: center;
  margin: 0 0.3rem;
}

.contact-info .share a:hover {
  background: var(--black);
  color: var(--white);
}

.home {
  padding: 0;
}

.home .slide {
  min-height: 60rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background-size: cover !important;
  background-position: center !important;
}

.home .slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(var(--white)), to(transparent));
  background: linear-gradient(90deg, var(--white), transparent);
}

.home .slide .content {
  width: 50rem;
  position: relative;
}

.home .slide .content h3 {
  font-size: 6rem;
  color: var(--black);
  text-transform: capitalize;
  text-transform: uppercase;
}

.home .slide .content p {
  font-size: 1.4rem;
  color: var(--light-color);
  line-height: 2;
  padding: 1rem 0;
}

.home .swiper-button-next,
.home .swiper-button-prev {
  top: initial;
  bottom: 0;
  left: initial;
  right: 0;
  height: 7rem;
  width: 7rem;
  line-height: 7rem;
  background: var(--header-background-color);
}

.home .swiper-button-next:hover,
.home .swiper-button-prev:hover {
  background: var(--yellow);
}

.home .swiper-button-next::after,
.home .swiper-button-prev::after {
  font-size: 2rem;
  color: var(--sliders-arrows-color);
}

.home .swiper-button-prev {
  right: 7rem;
}

.about .heading {
  color: var(--header-close-contact-color);
}

.about .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 3rem;
}

.about .row .video {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 41rem;
          flex: 1 1 41rem;
}

.about .row .video video {
  width: 100%;
}

.about .row .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 41rem;
          flex: 1 1 41rem;
}

.about .row .content h3 {
  font-size: 3.5rem;
  color: var(--header-close-contact-color);
  text-transform: capitalize;
}

.about .row .content p {
  font-size: 1.5rem;
  color: var(--light-color);
  line-height: 2;
  padding: 1rem 0;
}

.about .box-container {
  margin-top: 3rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(16rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 2rem;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.about .box-container .box {
  text-align: center;
  background: var(--light-bg);
  padding: 3rem 2rem;
}

.about .box-container .box h3 {
  font-size: 4rem;
  color: var(--black);
  text-transform: capitalize;
}

.about .box-container .box p {
  font-size: 1.5rem;
  color: var(--light-color);
  line-height: 2;
  padding-top: 0.5rem;
}

.events {
  background: var(--header-background-color);
}
.events .heading {
  color: var(--header-close-contact-color)
}
.events .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
}

.events .box-container .box {
  text-align: center;
  padding: 3rem;
  background: var(--white);
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  border: var(--border);
}

.events .box-container .box:hover img {
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
}

.events .box-container .box img {
  height: 7rem;
  margin-bottom: 0.5rem;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.events .box-container .box h3 {
  font-size: 1.7rem;
  color: var(--black);
  text-transform: capitalize;
  padding: 1rem 0;
}






.environments {
  background: var(--environ-bg-color);
}

.environments .heading {
  color: var(--white);
}

.environments .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}

.environments .box-container .box {
  cursor: initial;
}

.environments .box-container .box:hover .image img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.environments .box-container .box .image {
  height: 40rem;
  overflow: hidden;
}

.environments .box-container .box .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.environments .box-container .box .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: var(--white);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.environments .box-container .box .content .info {
  padding: 1rem 2rem;
}

.environments .box-container .box .content .info h3 {
  font-size: 1.7rem;
  color: var(--black);
  text-transform: capitalize;
}

.environments .box-container .box .content .info p {
  font-size: 1.5rem;
  color: var(--light-color);
  line-height: 2;
}

.environments .box-container .box .content i {
  width: 7.5rem;
  font-size: 3rem;
  background: var(--yellow);
  color: var(--white);
  cursor: pointer;
  text-align: center;
  line-height: 7.5rem;
}








.officers {
  background: var(--environ-bg-color);
}

.officers .heading {
  color: var(--white);
}

.officers .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(20rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 2rem;
}

.officers .box-container .box {
  cursor: initial;
}

.officers .box-container .box:hover .image img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.officers .box-container .box .image {
  height: 40rem;
  overflow: hidden;
}

.officers .box-container .box .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.officers .box-container .box .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: var(--white);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.officers .box-container .box .content .info {
  padding: 1rem 2rem;
}

.officers .box-container .box .content .info h3 {
  font-size: 1.7rem;
  color: var(--black);
  text-transform: capitalize;
}

.officers .box-container .box .content .info p {
  font-size: 1.4rem;
  color: var(--light-color);
  line-height: 1;
}

.officers .box-container .box .content i {
  width: 5rem;
  font-size: 3rem;
  background: var(--yellow);
  color: var(--white);
  cursor: pointer;
  text-align: center;
  line-height: 7.5rem;
}








.reviews .heading {
  color: var(--header-close-contact-color);
}
.reviews .slide p {
  padding: 1.5rem;
  background: var(--light-bg);
  position: relative;
  margin-bottom: 3rem;
  font-size: 1.4rem;
  color: var(--light-color);
  line-height: 2;
}

.reviews .slide p::before {
  content: "";
  position: absolute;
  bottom: -1rem;
  left: 2rem;
  height: 2rem;
  width: 2rem;
  background: var(--light-bg);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.reviews .slide .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
}

.reviews .slide .user img {
  height: 7rem;
  width: 7rem;
}

.reviews .slide .user h3 {
  font-size: 2rem;
  color: var(--header-close-contact-color);
  text-transform: capitalize;
}

.reviews .slide .user .stars {
  padding-top: 0.5rem;
}

.reviews .slide .user .stars i {
  font-size: 1.4rem;
  color: var(--yellow);
}

.pricing {
  background: var(--light-bg);
}

.pricing .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}

.pricing .box-container .box {
  background: var(--white);
  text-align: center;
  padding: 2rem;
  border: var(--border);
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
}

.pricing .box-container .box i {
  font-size: 3rem;
  height: 7rem;
  width: 7rem;
  line-height: 7rem;
  border-radius: 50%;
  margin-bottom: 2rem;
  background: var(--yellow);
  color: var(--black);
}

.pricing .box-container .box h3 {
  font-size: 2rem;
  color: var(--black);
  text-transform: capitalize;
  font-weight: normal;
}

.pricing .box-container .box .price {
  padding: 1rem 0;
  font-size: 5rem;
  color: var(--black);
  text-transform: capitalize;
}

.pricing .box-container .box .price span {
  font-size: 2rem;
}

.pricing .box-container .box .list {
  padding: 1rem 0;
}

.pricing .box-container .box .list p {
  padding: 1rem 0;
  font-size: 1.4rem;
  color: var(--light-color);
  line-height: 2;
}

.contact {
  background: var(--environ-bg-color);
}

.contact .heading {
  color: var(--white);
}

.contact .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}

.contact .row .map {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 41rem;
          flex: 1 1 41rem;
  width: 100%;
}

.contact .row form {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 41rem;
          flex: 1 1 41rem;
  background: var(--white);
  padding: 2rem;
}

.contact .row form h3 {
  font-size: 2.5rem;
  color: var(--black);
  text-transform: capitalize;
}

.contact .row form .box {
  margin: 0.7rem 0;
  width: 100%;
  padding: 1.5rem 0;
  border-bottom: var(--border);
  font-size: 1.6rem;
  color: var(--light-color);
}

.contact .row form .box:focus {
  border-color: var(--yellow);
}

.contact .row form textarea {
  height: 15rem;
  resize: none;
}

.blogs {
  background: var(--light-bg);
}

.blogs .slide {
  text-align: center;
}

.blogs .slide:hover .image img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.blogs .slide .image {
  height: 25rem;
  width: 90%;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: -3rem;
}

.blogs .slide .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.blogs .slide .content {
  padding: 2rem;
  padding-top: 5rem;
  background: var(--white);
  -webkit-box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.2);
}

.blogs .slide .content h3 {
  font-size: 2rem;
  color: var(--black);
  text-transform: capitalize;
}

.blogs .slide .content p {
  padding: 1rem 0;
  font-size: 1.4rem;
  color: var(--light-color);
  line-height: 2;
}

.logo-container {
  text-align: center;
}

.logo-container img {
  height: 10rem;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.footer {
  text-align: center;
  padding-bottom: 10rem;
}

.footer .links .btn {
  margin: 0.5rem;
}

.footer .credit {
  font-size: 2rem;
  color: var(--header-close-contact-color);
  text-transform: capitalize;
  margin-top: 2rem;
  padding-top: 1rem;
}

.footer .credit span {
  color: var(--yellow);
}

@media (max-width: 1200px) {
  .header {
    padding: 1.5rem 2rem;
  }
  section {
    padding: 3rem 5%;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  section {
    padding: 3rem 2rem;
  }
  .header #menu-btn {
    display: inline-block;
  }
  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: var(--header-background-color);
    border-top: var(--border);
    border-bottom: var(--border);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    -webkit-transition: 0.2s linear;
    transition: 0.2s linear;
  }
  .header .navbar.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .header .navbar a {
    display: block;
    margin: 2rem;
  }
}

@media (max-width: 768px) {
  .header .search-form {
    width: 90%;
  }
  .header .login-form {
    width: 90%;
  }
  .home .slide {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .home .slide .content {
    text-align: center;
  }
  .home .slide .content h3 {
    font-size: 3rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .about .row .content h3 {
    font-size: 2.5rem;
  }
}
/*# sourceMappingURL=style.css.map */
